<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>UILaunchScreen</key>
    <dict>
        <key>UIImageName</key>
        <string>familia</string>
        <key>BackgroundColor</key>
        <string>#FFFFFF</string>
        <key>ContentMode</key>
        <string>ScaleAspectFit</string>
    </dict>
</dict>
</plist>
